<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Disable directory browsing for security
  Options -Indexes

  # Redirect all requests to index.html if they do not match an existing file or directory
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
